body{
    font-family: Verdana;
    padding: Opx;
    margin: opx;
}

header{
    padding: 20px;
    color: white;
    text-align: right;
    background: black;
    font-size: 2em;
}

section{
    display: flex;
}

article{
    padding: 10px;
    text-align: center;
    width: 100%; /* para indicarle al flexbox que los contenidos se
    van a ajustar al tamaño de la pantalla */
}

#articulo-1{
    background: #149f9a;
}

#articulo-2{
    background: #18c50f;
}

#articulo-3{
    background: #44678c ;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

img{
    width: 100%;
}
